<section class="shopping-edit">
    <div class="row">
        <div class="col-xs-12">
            <form (ngSubmit)="onAddItem(form)" #form="ngForm">
                <div class="row">
                    <div class="col-sm-5 form-group">
                        <label for="name">Name</label>
                        <input ngModel type="text" name="name" id="name" class="form-control" required>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="amount">Amount</label>
                        <input  ngModel type="number" id="amount" name="amount" [pattern]="'^[1-9]+[0-9]*$'" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button [disabled]="!form.valid" class="btn btn-success" type="submit">{{editMode? 'Update' : 'Add'}}</button>
                        <button *ngIf="editMode" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
                        <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>